body {
  background-color: bisque;
  margin-top: 13rem;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  grid-column: span 2;
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer;
  width: auto;
}

form {
  gap: .5rem;
  margin: 0 auto;
}

.mainDiv {
  margin-bottom: 1rem;
}

.passwordDiv {
  color: red; margin-bottom: 1rem;
}

button {
  grid-column: span 2;
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer;
  width: 150px;
}